body {
    font-family: Arial;
    background-color: aliceblue;
    padding: 40px 0;
    font-size: larger;
}

h2 {
    font-size: 28px;
}

h2::first-letter {
    color: gray;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

span {
    color: grey;
}

.container {
    box-shadow: 0 0 20px gray;
    width: 1020px;
    margin: 0 auto;
    background-color: white;
}

img {
    width: 184px;
    height: 237px;
}

section,
header {
    padding: 10px 50px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

header ul {
    list-style: none;
}

header address {
    font-style: normal;
    font-weight: bold;
}

section ul {
    list-style: none;
}

header li {
    margin-bottom: 15px;
}

.address-icon {
    width: 16px;
    height: 16px;
    background-color: whitesmoke;
    border: 2px solid gray;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
    border-radius: 50%;
}

.cv-download-link {
    border: 2px solid cornflowerblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 26px;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 20px gray;
}

.cv-download-link:hover {
    color: white;
    background-color: cornflowerblue;
}

.cv-download-link:focus {
    outline: none;
    color: white;
    background-color: cornflowerblue;
}

.cv-download-link:active {
    text-decoration: underline;
}

.period {
    color: gray;
    white-space: pre;
    margin-right: 10px;
    margin-left: -40px;
}

.position {
    color: black;
    font-weight: bold;
}

.company-name {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}

.company-name:hover {
    color: cornflowerblue;
}


.cursor-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: -5px;
}

.location-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: -5px;
}

.location-name {
    color: cornflowerblue;
    font-weight: bold;
}

.responsibility {
    margin-left: 0px;
}

.responsibility-icon {
    width: 4px;
    height: 4px;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 5px;
}

.university-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-left: 47px;
    margin-right: -2px;
}

.faculty-name {
    color: cornflowerblue;
    font-weight: bold;
}

.university-name {
    color: cornflowerblue;
    font-weight: bold;
    margin-left: 47px;
}

.diploma-topic {
    font-weight: bold;
    margin-left: 47px;
}

.diploma-topic-end {
    margin-left: 47px;
}

.address-style-link {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.address-style-link:hover {
    color: cornflowerblue;
}

.address-cursor-icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-left: 1px;
    margin-bottom: 5px;
}